<!-- src/views/NotesView.vue -->
<script setup lang="ts">
import AddNote from "../components/AddNote.vue";
import NoteCard from "../components/NoteCard.vue";
import { useNoteStore } from "../stores/note";
const noteStore = useNoteStore();
</script>

<template>
  <main>
    <AddNote />
    <div class="flex flex-col gap-3">
      <div v-for="note in noteStore.notes" :key="note.title">
        <NoteCard :note="note" />
      </div>
    </div>
  </main>
</template>

<style scoped>
.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
</style>
