<!-- src/components/NoteCard.vue -->
<script setup lang="ts">
import { defineProps } from "vue";
import type { Note } from "../stores/note";
import { useNoteStore } from "../stores/note";
defineProps<{
  note: Note;
}>();
const noteStore = useNoteStore();
const removeNote = (title: string) => {
  noteStore.removeNote(title);
};
</script>

<template>
  <div
    class="block max-w-3xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
  >
    <button
      @click="removeNote(note.title)"
      class="absolute top-5 right-5 text-xl z-10"
    >
      &times;
    </button>

    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {{ note.title }}
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
      {{ note.body }}
    </p>
  </div>
</template>

<style scoped>
.note-card {
  padding: 10px;
  background-color: lightgray;
  color: black;
  border-radius: 10px;
}
h2 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

p {
  font-size: 1.2rem;
}
</style>
