<!-- src/App.vue -->
<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
</script>

<template>
  <header>
    <nav>
      <RouterLink to="/">Home</RouterLink>
      <RouterLink to="/notes">Notes</RouterLink>
    </nav>
  </header>
  <RouterView />
</template>

<style scoped>
nav {
  text-align: center;
  font-size: 1rem;
  padding: 1rem 0;
  margin-top: 1rem;
}
nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}
</style>
